h2 {
    margin-top: 4rem;
}
table {
    font-size: smaller;
    overflow-x: visible;
}
tbody > tr:hover {background-color: rgb(0, 255, 115);}
.table-of-contents {
    margin-left: 2rem;
    margin-bottom: 4rem;
}
img {
    display: block;
    margin: 50px auto;
}