body {
    font-family:Arial, Helvetica, sans-serif
}

h2 {
    margin-top: 4rem;
}
table {
    overflow-x: visible;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}
tbody > tr:hover {background-color: rgb(204, 204, 255);}
td {
    text-align: center;
}
.table-of-contents {
    margin-left: 2rem;
    margin-bottom: 4rem;
}
img {
    display: block;
    margin: 50px auto;
}
hr {
    margin-top: 4rem;
    margin-bottom: 4rem;
}